<!DOCTYPE html>

<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RyuChess</title>
    <!-- Icons-->
    <link href="{{ static_url('node_modules/coreui/dist/vendors/@coreui/icons/css/coreui-icons.min.css') }}"
        rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/flag-icon-css/css/flag-icon.min.css') }}"
        rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/font-awesome/css/font-awesome.min.css') }}"
        rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/simple-line-icons/css/simple-line-icons.css') }}"
        rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="{{ static_url('node_modules/coreui/dist/css/style.css') }}" rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ static_url('css/signup.css') }}">
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 vr-center">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>


    <script src="{{ static_url('node_modules/coreui/dist/vendors/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/popper.js/js/popper.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/pace-progress/js/pace.min.js') }}"></script>
    <script
        src="{{ static_url('node_modules/coreui/dist/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/@coreui/coreui/js/coreui.min.js') }}"></script>
    <script src="{{ static_url('js/signup.js') }}"></script>
</body>
</html>